<div class="container">
    <div class="row mt-5 mb-5">
        <h1>Todo details</h1>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    ID:
                </div>
                <div class="col-10">
                    <input type="text" readonly [value]="todo.id" class="readonly">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    Name:
                </div>
                <div class="col-10">
                    <input type="text" [value]="todo.name" [(ngModel)]="todo.name" name="name">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    Level:
                </div>
                <div class="col-10">

                    <select name="level" id="level" [value]="todo.level" [(ngModel)]="todo.level">
                        <option *ngFor="let item of level" [value]="item">
                            {{item}}
                        </option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    Is done ? :
                </div>
                <span *ngIf="todo.isDone === true; then check; else notcheck">
                </span>

                <ng-template #check>
                    <div class="col-10"> <input type="checkbox" checked [(ngModel)]="todo.isDone" name="isDone">
                    </div>
                </ng-template>
                <ng-template #notcheck>
                    <div class="col-10"><input type="checkbox" [(ngModel)]="todo.isDone" name="isDone">
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5" style="display:flex; justify-content: center;">
        <button [routerLink]="['/home']" class="btn"
            style="width: 200px; background-color: green; color:white; margin-right:20px">Back to
            home</button>

        <button (click)="editTodo()" class="btn btn-primary" style="width: 200px;">Edit</button>
    </div>
</div>