<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Todo list</h1>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">IsDone</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos" [ngClass]="{todoIsDone: todo.isDone === true}">
                        <th scope="row">{{todo.id}}</th>
                        <td>{{todo.name}}</td>
                        <td>{{todo.level}}</td>
                        <td>{{todo.isDone === true ? 'Done' : 'Not done yet'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                style="margin: 0 5px 0 5px; z-index: 2;">Detail</button>
                            <button type="button" class="btn btn-success" style="margin: 0 5px 0 5px; z-index: 2;"><a
                                    [routerLink]="['/edit', todo.id]" routerLinkActive="active"
                                    style="text-decoration: none; color:white;">Edit</a>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deleteTodo(todo.id)"
                                style="margin: 0 5px 0 5px; z-index: 2;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <h1>Add new</h1>
        </div>
        <div class="col-12">
            <form>
                <div class="form-group mt-3">
                    <label for="name">ID</label>
                    <input type="number" class="form-control" id="ID" placeholder="Enter ID" [(ngModel)]="id" name="id">
                </div>
                <div class="form-group mt-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="name"
                        name="name">
                </div>
                <div class="form-group mt-3">
                    <label for="level">Level</label>
                    <select name="level" id="level" class="form-control" [(ngModel)]="level" name="level">
                        <option value=""></option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
                <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="isDone"
                        [(ngModel)]="isDone">
                    <label class="form-check-label" for="exampleCheck1">is done ?</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3" (click)="addTodo()">Submit</button>
            </form>
        </div>
    </div>
</div>